{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <form method="GET" action="{% url 'search_products' %}">
                <div class="input-group mb-3">
                    <input type="text" name="q" class="form-control" placeholder="Search products">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-success ml-2">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-lg-4">
            <img class="thumbnail" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="#">View</a>
                <h4 style="display: inline-block; float: right"><strong>${{product.price}}</strong></h4>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}
